


@import "tailwindcss";

/* Your custom animation */
@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Make a utility class outside of @layer */
.animate-slide {
  animation: slide 20s linear infinite;
  display: flex;
  width: max-content;
}
.animate-slide:hover {
  animation-play-state: paused;
}

.text-stroke {
  -webkit-text-stroke: 1px #00F9FF; /* Stroke color + thickness */
  
}
.text-stroke2 {
  -webkit-text-stroke: 1px white;}