# --- SERVER CONFIG ---
PORT=5000
ALLOWED_ORIGINS=http://localhost:5173

# --- DATABASE CONFIG ---
DATABASE_URL=mongodb://127.0.0.1:27017/Racer

# --- STRIPE PAYMENT ---
STRIPE_SECRET_KEY=your_stripe_secret_key_here

# --- MAILJET EMAIL ---
MJ_APIKEY_PUBLIC=your_mailjet_public_key_here
MJ_APIKEY_PRIVATE=your_mailjet_private_key_here
MAIL_FROM_EMAIL=noreply@carsreally.com
MAIL_FROM_NAME=CarsReally Support
MAIL_TO_EMAIL=admin@carsreally.com
MAIL_TO_NAME=CarsReally Admin
